:root {
  color-scheme: dark;
}

html {
  font-size: 62.5%;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

input {
  font-family: "Inconsolata";
  border: none;
  outline: none;
  padding: 1.5rem;
  font-size: 1.8rem;
  outline: 1px solid #3b3b3b;
}

.app {
  position: relative;
  max-width: 35rem;

  @media screen and (min-width: 768px) {
    max-width: 70rem;
  }
}

.words {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  padding: 2rem 0;
  font-family: "Inconsolata";
}

.word {
  font-weight: 400;
  opacity: 0.95;

  &.correct {
    opacity: 0.65;
  }

  &.incorrect {
    opacity: 0.8;

    color: rgb(255, 106, 106);
  }

  &.active {
    opacity: 1;
    font-weight: 600;
    text-decoration: underline solid 1.5px white;
  }
}

.top {
  padding-top: 2rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.statistics {
  font-size: 1.6rem;
  display: flex;
  gap: 5rem;
}

.wpm,
.acc {
  width: 8rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  border: none;
  background: #3b3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding: 0.5rem;

  > img {
    width: 100%;
  }

  &:hover {
    background: #5e5e5e;
  }
}

.main-input {
  width: 30rem;

  @media screen and (min-width: 768px) {
    width: 40rem;
  }
}

.settings {
  top: -8rem;
  right: 0;
  position: absolute;
  background: #3b3b3b;
  padding-inline: 1.5rem;
}

.setting-container {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}

.setting-label {
  display: inline-block;
  width: 18rem;
}
